.selected {
    border: 1px solid black;
}

.standard{

}

.dot {
    cursor: pointer;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.root{
    padding: 30px;
    display: flex;
    height: 250px;
}

.content{
    display: inline-block;
    align-self: flex-end;
}